.hero {
    max-width: 1440px;
    width: 100vw;
}

#background{
    width: 100vw;
    min-height: 100vh;
    background-image: url('../images/welcome-hero/welcome-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: carDriveIn 1s ease-in-out;
}

.hero-container{
    width: 100vw;
    /* max-width: 1440px; */
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 4rem auto;
}

@keyframes carDriveIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-text {
    display: grid;
    width: 80vw;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 60% opacity */
    color: white;
    padding: 2rem 1rem;
    min-height: 50vh;
    opacity: 1;
    box-shadow: 1px 1px 3px rgb(230, 230, 230);
}

.cta-button {
    position: relative;
    left: 30%;
    background: rgb(9, 9, 158);
    width: fit-content;
    height: max-content;
    padding: 20px;
}

@media (max-width: 768px) {
    .hero{
        width: 100vw;
    }
    .hero-container{
        width: 60vw;
        min-height: 100vh;
        padding: 4rem 0;
    }

    .hero-text {
        width: 50vw;
        /* margin-left: 20rem; */
        padding: 0 auto;
        min-height: 20vh;
    }
}

@media (max-width: 425px) {
    .hero{
        width: 100vw;
    }

    .hero-container{
        min-height: 50vh;
        padding: 4rem 0;
    }

    .hero-text {
        width: 50vw;
        margin: 4rem 1rem;
        align-self: center;
        padding: 5rem 0;
        min-height: 20vh;
    }
}

@media (max-width: 320px) {
    .hero-container{
        min-height: 90vh;
        padding: 4rem 0;
    }

    .hero-text {
        width: 70vw;
        /* margin-left: 20rem; */
        padding: 5rem auto;
        min-height: 20vh;
    }
}
