main {
    width: 100vw;
    max-width: 1440px;
    background-color: oldlace;
}

.homepage-main {
    width: 100vw;
    /* max-width: 1440px; */
}

@media (max-width: 768px) {
    .homepage-main {
        width: 100vw;
    }
}

@media (max-width: 425px) {
    .homepage-main {
        width: 100vw;
    }
}

@media (max-width: 320px) {
    .homepage-main {
        width: 100vw;
    }
}


