.new-cars {
    width: 100vw;
    max-width: 1440px;
}

.new-cars-container {
    padding: 4rem 2rem;
    width: 70vw;
    max-width: 1440px;
}

.new-cars-container-header {
    display: grid;
    justify-content: center;
}

.new-car-item {
    /* width: 50vw; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    column-gap: 2rem;
    padding: 4rem 2rem;
    align-items: center;
}

.new-car-item-text {
    display: grid;
    grid-template-rows: repeat(5, auto);
    row-gap: 2rem;
    width: 40vw;
    /* width: 100vw; */
}

.new-car-item-button a{
    border: 2px solid black;
    padding: 1rem;
    border-radius: 10px;
}

.new-car-item-image:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
    cursor: pointer;
}


@media (max-width: 1024px) {
    .new-car-item-button a{
        border: 2px solid black;
        padding: 0.1rem;
        border-radius: 5px;
    }
}

@media (max-width: 768px) {

    .new-car-item {
        width: 50vw;
        grid-template-columns: auto;
    }

    .new-car-item-image {
        grid-area: 1 / 1 / 3 / 3; /*Start the item at row 1 and column 1. End the item at row 3 and column 3.*/
    }
}

@media (max-width: 425px) {
    .new-car-item {
        width: 50vw;
        grid-template-columns: auto;
        padding: 4rem 0;
    }

    /* .new-car-item-image img {
        width: 100vw;
        height: auto;
    } */
}

@media (max-width: 320px) {

    .new-cars {
        width: 90vw;

    }
    .new-car-item {
        width: 100vw;
        grid-template-columns: auto;
        padding: 4rem 0;
        margin-left: 1rem;
    }
}